/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
       */

* {
  /* border: solid 2px red; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root[data-theme="light"] {
  --color-azure: azure;
  --color-black: black;
  --color-azure-wrapper: #f0f1f1;
  --color-black-wrapper: black;
  --background-d-brand: #2b3058;
  --color-switcher: #b3b3b3;
  --color-active: #fff;
  /* --border-option: 10px solid #fff; */
  --color-b-menu: black;
  --color-b-menu-li: black;
  --color-azure-menu-li: azure;
  --color-black-menu-active: black;
  --color-black-menu-li-a: black;
  --color-black-main: black;
  --color-u-main-img-hover: #191c32;
  --color-d-myname: #2b3058;
  --color-azure-typed-text: #f0f1f1;
  --color-azure-mybutton: azure;
  --color-black-mybutton: black;
  --color-d-mybutton-hover: #2b3058;
  --color-azure-download-cv: azure;
  --color-gray-download-cv-hover: gray;
  --color-azure-about: white;
  --color-black-divider: black;
  --color-azure-portfolio-contact-section: #f0f1f1;
  --color-black-portfolio-heading-h2: black;
  --color-u-card: #191c32;
  --color-black-textarea: black;
  --color-white-footer: white;
  --color-white-correo: white;
}

:root[data-theme="dark"] {
  --color-azure: #00001a;
  --color-black: gray;
  --color-azure-wrapper: #191c32;
  --color-black-wrapper: #fff;
  --background-d-brand: aqua;
  --color-switcher: aqua;
  --color-active: #2b3058;
  /* --border-option: none; */
  --transform-option: translateX(100%);
  --color-b-menu: #fff;
  --color-b-menu-li: aqua;
  --color-azure-menu-li: #191c32;
  --color-black-menu-active: aqua;
  --color-black-menu-li-a: aqua;
  --color-black-main: aqua;
  --color-u-main-img-hover: white;
  --color-d-myname: aqua;
  --color-azure-typed-text: #191c32;
  --color-azure-mybutton: black;
  --color-black-mybutton: aqua;
  --color-d-mybutton-hover: azure;
  --color-azure-download-cv: aqua;
  --color-gray-download-cv-hover: azure;
  --color-azure-about: white;
  --color-black-divider: aqua;
  --color-azure-portfolio-contact-section: #191c32;
  --color-black-portfolio-heading-h2: #fff;
  --color-u-card: #2b3058;
  --color-black-textarea: #fff;
  --color-white-footer: aqua;
  --color-white-correo: aqua;
}

html {
  scroll-behavior: smooth;
}
/* */

body {
  /* font-family: "Roboto", sans-serif;  */

  font-family: "Montserrat";
  font-optical-sizing: auto;
  /* font-weight: weight; */
  font-style: normal;
  font-size: 18px;
  color: black; /* black*/
}

::-webkit-scrollbar {
  width: 8px; /* Ancho de la barra */
}

::-webkit-scrollbar-track {
  background: var(--color-azure); /*#00001a */

  opacity: 100%; /* Color de fondo de la pista */
}

::-webkit-scrollbar-thumb {
  background: var(--color-black); /* gray*/ /* Color del 'scrollbar' */
  border-radius: 4px; /* Borde redondeado */
}
/* */
.wrapper {
  /* width: 100vw; */
  width: 100%;
  height: 100vh;
   background-color: var(--color-azure-wrapper); /*#191c32 */
  
  color: var(--color-black-wrapper); /* #fff*/
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 2em;
}


.brand {
  margin-top: -7px;
  display: inline-block;
  transition: transform 0.3s ease-in-out; /* Transición para un retorno suave */
}

.brand:hover {
  animation: rotateAnimation 3s infinite linear,
    returnAnimation 0.3s ease-in-out forwards;
}

@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes returnAnimation {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.brand span {
  color: var(--background-d-brand); /*aqua */
  font-size: 30px;
}
.brand h2 {
  font-size: 30px;
}
/* margin-bottom: 2rem;  */
/* .main__switcher {
  width: 31px;
  margin: 0 auto;
  
  padding: 2px;
  height: 18px;
  border-radius: 9px;
  background-color: var(--color-switcher);

  display: grid;
  grid-template-columns: 1fr 1fr;

  position: relative;
}

.main__check {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 0;
  cursor: pointer;
}

.main__option {
  width: 13.2px;
  height: 13.2px;
  background-color: var(--color-active);
  border: var(--border-option);
  border-radius: 50%;
  transition: transform 0.3s;
  transform: var(--transform-option, none);
} */
.main__switcher {
  
  position: relative;
  width: 50px;
  height: 25px;
  margin: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.main__switcher label {
  
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 25px;
  border-radius: 50px;
  background: linear-gradient(to bottom, #b3b3b3, #e6e6e6);
  cursor: pointer;
  transition: all 0.3s ease;
}

.main__switcher label:after {
  content: '';
  position: absolute;
  top: 1px;
  left: 1px;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background-color: var(--color-active);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.main__switcher input[type="checkbox"]:checked + label {
  background: linear-gradient(to bottom, aqua, rgb(192, 231, 231));
}

.main__switcher input[type="checkbox"]:checked + label:after {
  transform: translateX(25px);
}

.main__switcher label:hover {
  background: linear-gradient(to bottom, #b3b3b3, #e6e6e6);
}

.main__switcher label:hover:after {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.main__check {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 25px;
}
.menu {
  display: flex;
  width: 50%;
  justify-content: space-around;
}
.menu li {
  list-style: none;
}
.menu a {
  color: var(--color-b-menu); /* #fff*/
  text-decoration: none;
  padding: 10px 20px;
}

.menu li:hover a {
  background-color: var(--color-b-menu-li); /*aqua */
  color: var(--color-azure-menu-li); /* #191c32*/
}

.menu .active {
  color: var(--color-black-menu-active); /* aqua*/
}

.menu li a:hover {
  background-color: var(--color-black-menu-li-a); /*aqua */
  border-radius: 4px;
  color: var(--color-azure-menu-li); /* #191c32*/
  transition: 1s;
}

.info-content {
  transition: box-shadow 0.3s, transform 0.3s;
  padding: 2em;
}
.info-content:hover {
  padding: 2em;
  border-radius: 1em;
  box-shadow: 0 24px 40px rgba(0, 0, 0, 0.6);
  transform: translateY(-5px);
}

.toggle_menu,
.info_content_subtitle {
  display: none;
}

.main {
  margin: 0 auto;
  width: 80vw;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2em;
}

.main img {
  border: 7px solid var(--color-black-main); /*aqua */
  width: 400px;
  height: 500px;
  /* z-index: 1; */
  min-height: 300px;
  transition: all 0.5s ease-in-out;
}

.main img:hover {
  transform: scale(1.1);
  border-color: var(
    --color-u-main-img-hover
  ); /* white*/ /* Cambiamos el color del borde al hacer hover */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Agregamos una sombra */
  /* filter: grayscale(30%) */
}

h1 {
  font-size: clamp(4vw, 1.5em, 3em);
}

/*.info-content span {
   color: aqua; 
}*/
.myname {
  color: var(--color-d-myname); /* aqua*/
}

.typed-text {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap; /* Evita saltos de línea */
  position: relative; /* Añade posición relativa para posicionar el cursor */
  border-right: 0.15em solid var(--color-azure-typed-text); /*#191c32 */ /* Cambia el color o estilo del cursor de escritura */
  animation: typing 6s steps(30, end) infinite; /* Aplicar animación de escritura gradual */
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.typed-text::after {
  content: "|"; /* Carácter de cursor */
  position: absolute; /* Posición absoluta para el cursor */
  animation: blink-caret 1s step-end infinite; /* Animación del cursor */
  margin-left: 3px; /* Ajusta la posición del cursor después de 'Carlos' */
}

@keyframes blink-caret {
  from,
  to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  } /* Hace que el cursor parpadee */
}
/* .mybutton {
  padding: 10px 20px;
  color: var(--color-azure-mybutton); /*black */
/*background-color: var(--color-black-mybutton); /*aqua */
/*border: none;
  border-radius: 20px;
  margin-top: 10px;
  cursor: pointer;
  -webkit-box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, 0.69);
  -moz-box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, 0.69);
  box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, 0.69);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.mybutton:hover {
  background-color: var(--color-d-mybutton-hover); /*azure */
/*box-shadow: none;
} */

.mybutton {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  margin-top: 10px;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.mybutton:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowingbn5 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowingbn5 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.mybutton:active {
  color: #000;
}

.mybutton:active:after {
  background: transparent;
}

.mybutton:hover:before {
  opacity: 1;
}

.mybutton:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #191919;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.download-cv {
  padding: 10px 20px;
  background-color: var(--color-azure-download-cv); /*aqua */
  border: none;
  border-radius: 20px;
  margin-top: 10px;
  cursor: pointer;
  -webkit-box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, 0.69);
  -moz-box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, 0.69);
  box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, 0.69);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.download-cv:hover {
  background-color: var(--color-gray-download-cv-hover); /*azure */
  box-shadow: none;
}

.about {
  background-color: var(--color-azure-about); /*white */
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  width: 100vw;
  align-items: center;
}

.about img {
  max-width: 100%;
  grid-column: 1/5;
}

.about-info {
  grid-column: 5/10;
  padding: 3em;
}

.about-info h2 {
  font-size: 2em;
  color: #191c32;
}

.divider {
  height: 4px;
  width: 60px;
  background-color: var(--color-black-divider); /* aqua*/
  margin-top: 5px;
  margin-bottom: 2em;
}

.about p {
  margin-bottom: 1em;
}

.portfolio,
.contact-section {
  width: 100vw;
  background-color: var(--color-azure-portfolio-contact-section); /*#191c32 */
  color: #fff;
}

.portfolio-heading {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.portfolio-heading h2,
.contact-heading h2 {
  font-size: 2.5em;
  color: var(--color-black-portfolio-heading-h2); /* #fff*/
}

/* ajustar */
.portfolio .container {
  width: 80vw;
  /* height: 80vh; */
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  background-color: #2b3058;
  margin: 1em;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #ffffff; /*#ffffff */

  transition: box-shadow 0.3s, transform 0.3s;
}
.card:hover {
  box-shadow: 0 24px 40px rgba(0, 0, 0, 0.6); /* Sombreado más pronunciado en hover */
  transform: translateY(-5px);
}

.card__img {
  width: 100%;
  height: 150px;
  background-image: url(https://res.cloudinary.com/freelancer2222222222222222/image/upload/v1650543491/samples/2-original_agisst.png);
  background-size: cover;
}

.rym {
  width: 100%;
  height: 150px;
  background-image: url(/img/rick-morty-pelicula.jpg);
  background-size: cover;
}
.rymhover {
  opacity: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  /* transition: opacity 0.3s ease, width 0.3s ease, height 0.3s ease; */
  transition: opacity 0.3s ease, max-height 0.3s ease;
}

.rym:hover .rymhover {
  opacity: 1;
  width: 100%;
  height: 150px;
  padding: 10px;
  background-color: black; /*black */
  opacity: 0.8;
  transition: opacity 0.3s ease, max-height 0.3s ease;
}

.fp {
  width: 100%;
  height: 150px;
  background-image: url(/img/fondopokemon.jpeg);
  background-size: cover;
}
.fphover {
  opacity: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 0.3s ease, max-height 0.3s ease;
  scrollbar-color: gray black; /* gray*/ /*black */
  scrollbar-width: thin;
}

.fp:hover .fphover {
  opacity: 1;
  width: 100%;
  height: 150px;
  padding: 10px;
  background-color: black; /* black*/
  opacity: 0.8;
  overflow-y: auto;
  transition: opacity 0.3s ease, max-height 0.3s ease;
}
.fd {
  width: 100%;
  height: 150px;
  background-image: url(/img/fondoclima.jpg);
  background-size: cover;
}

.fdhover {
  opacity: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 0.3s ease, max-height 0.3s ease;
}

.fd:hover .fdhover {
  opacity: 1;
  width: 100%;
  height: 150px;
  padding: 10px;
  background-color: black; /* black*/
  opacity: 0.8;
  transition: opacity 0.3s ease, max-height 0.3s ease;
}

.js {
  width: 100%;
  height: 150px;
  background-image: url(/img/javascript-code.jpg);
  background-size: cover;
}

.jshover {
  opacity: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 0.3s ease, max-width 0.5s ease;
  scrollbar-color: gray black; /* gray*/ /* black*/
  scrollbar-width: thin;
}

.js:hover .jshover {
  opacity: 1;
  width: 100%;
  height: 150px;
  padding: 10px;
  background-color: black; /*black */
  opacity: 0.8;
  overflow-y: auto;
  transition: opacity 0.3s ease, max-height 0.3s ease;
}

.card__title {
  padding: 20px;
}

.card__proyect-links {
  display: flex;
  justify-content: space-evenly;
}
.card__proyect-links a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}
.card__proyect-links a:hover {
  color: #ccd1d1;
}

.card__proyect-links i {
  font-size: 1.5em;
}

.button-content {
  display: flex;
  justify-content: center;
  margin: 1em;
}

.project-details-button a {
  text-decoration: none;
  color: #191c32;
}

.contact-section {
  padding: 3em;
}

.container-contact {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-section img {
  width: 750px;
  height: 700px;
  bottom: 0px;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 30vw;
  margin-top: 2em;
}
.form-group textarea {
  height: 150px;
  padding: 1.5em;
  background: none;
  border: 1px solid #fff;
  color: #fff;
}

.form-group .input {
  padding: 10px 20px;
  margin-bottom: 1em;
  background: none;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
}

.form-group .btn-submit {
  padding: 10px 20px;
  margin: 1em;
  border-radius: 20px;
  border: none;
  text-transform: uppercase;
  background-color: aqua;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 225px;
  padding: 2em;
  background-color: aqua;
}

.footer-content h2 {
  font-size: 3em;
}

.footer-content h5 {
  font-size: 1.5em;
  text-align: center;
}

.sotial-networks {
  display: flex;
  justify-content: space-evenly;
  width: 300px;
  margin-top: 1em;
}

.sotial-networks i {
  font-size: 1.5em;
}

.portfolio,
.contact-section {
  width: 100vw;
  background-color: var(--color-azure-portfolio-contact-section); /*#191c32 */
  color: #fff;
}

.portfolio-heading {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5em;
}

.portfolio-heading h2,
.contact-heading h2 {
  font-size: 2.5em;
  color: var(--color-black-portfolio-heading-h2); /*#fff */
}

/* .portfolio .container {
  width: 80vw;
 
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.card {
  width: 300px;
  background-color: var(--color-u-card); /* #2b3058*/
  margin: 1em;
}

.card__img {
  width: 100%;
  height: 150px;
  background-image: url(../img/2-original.png);
  background-size: cover;
}

.card__title {
  padding: 20px;
}

.card__proyect-links {
  display: flex;
  justify-content: space-evenly;
}
.card__proyect-links a {
  color: #fff;
  text-decoration: none;
}

.card__proyect-links i {
  font-size: 1.5em;
}

.button-content {
  display: flex;
  justify-content: center;
  margin: 1em;
}

.project-details-button a {
  text-decoration: none;
  color: #191c32;
}

.contact-section {
  padding: 3em;
}

.container-contact {
  margin: 0 auto;
  margin-top: 10em;
}
.contact-form h4 {
  color: var(--color-black-textarea);
}
.contact-section img {
  width: 750px;
  height: 700px;
  bottom: 0px;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 30vw;
  margin-top: 2em;
}
.form-group textarea {
  height: 150px;
  padding: 1.5em;
  background: none;
  border: 1px solid var(--color-black-textarea);
  color: var(--color-black-textarea);
}

.form-group .input {
  padding: 10px 20px;
  margin-bottom: 1em;
  background: none;
  border: none;
  border-bottom: 1px solid var(--color-black-textarea);
  color: var(--color-black-textarea);
}

.form-group .btn-submit {
  padding: 10px 20px;
  margin: 1em;
  border-radius: 20px;
  border: none;
  text-transform: uppercase;
  background-color: aqua;
}


.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2;
  align-items: center;
  width: 100vw;
  height: 250px;
  padding: 2em;
  background-color: var(--color-white-footer); /* aqua*/
}

.footer-content h2 {
  font-size: 3em;
}

.footer-content h5 {
  font-size: 1.5em;
  text-align: center;
}

.sotial-networks {
  display: flex;
  justify-content: space-evenly;
  width: 300px;
  margin-top: 1em;
}

.sotial-networks i {
  font-size: 1.5em;
  color: #191c32;
}

.correo {
  margin-top: 10px;
  /* height: 100%; */
  background-color: var(--color-white-correo); /* aqua*/
}
.probando {
  display: none;
}
@media screen and (max-width: 800px) {
  /* .portfolio .container{
    display: grid;
  } */
  .contact-section .contact-heading {
    margin-right: 2em;
  }
  .form-group {
    width: 80vw;
  }
  .menu {
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: #2b3058;
    z-index: 1;
    transform: translateX(-110%);
    transition: all 0.5s ease-in-out;
  }
  .show_menu {
    transform: translateX(0%);
    transition: all 0.5s ease-in-out;
  }
  .menu li {
    margin: 2em;
  }
  .toggle_menu {
    display: block;
  }
  .fa-bars {
    font-size: 1.5em;
    margin-top: -0.2em;
  }
  .toggle_menu .fa-close {
    font-size: 1.7em;
    display: none;
  }

  .main {
    height: 500px;
  }

  .main,
  .about {
    display: flex;
    flex-direction: column-reverse;
  }

  .main img {
    width: 100%;
    height: 50px;
    /* min-height: 300px; */
    width: min(70%, 350px);
    /* margin-bottom: 5em; */
  }
  .info-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  /* .probando{
    display: block;
  } */
  .info_content_subtitle {
    margin-bottom: 1em;
  }
  .info-content,
  .info_content_subtitle {
    display: block;
  }
  .info_content_p {
    display: none;
  }
  .footer-content h2 {
    font-size: 35px;
  }
}
